﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/bootstrap.css" />
    <link href="~/Content/LayoutStyle.css" rel="stylesheet" />

</head>
<body>

    <div class="sidebar" id="navbar">
        <h2>L²</h2>
        <ul>
            <li>@Html.ActionLink("Início", "Index", "Home")</li>
            <li>@Html.ActionLink("Listar Pedidos", "ListarPedidos", "BuscarPedido")</li>
            <li>@Html.ActionLink("Buscar Pedido", "BuscarPedido", "BuscarPedido")</li>
            <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
            <li>@Html.ActionLink("Sobre", "About", "Home")</li>

        </ul>
    </div>

    <div class="conteudo" id="conteudo-geral">
        <!--<button class="btn btn-success menu-bar">Abrir</button>-->
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Home/Home.js"></script>
</body>


</html>
