﻿@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title.</h2>

<address>
    Avenida Brasil, 387<br />
    Distrito Industrial, Mairinque - SP 18120-000<br />
    <abbr title="Phone">Telefone:</abbr>
    (11) 4246-0100
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:comercial@everestengenharia.com.br">comercial@everestengenharia.com.br</a><br />
</address>