﻿@model WebService.Models.ModuloCompraInfoModel

@{
    ViewBag.Title = "Pedidos de Compra";
}

@Styles.Render("~/Content/HomeStyle.css")
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div>
    <!-- LOGO -->

    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" id="titulo-pagina">
        <h1>Everest Engenharia de Infraestrutura LTDA</h1>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="solicitacoes_em_aberto">

        <div id="info-img">
            <img src="~/Content/Imagens/INFO-01.png" />
        </div>

        <div id="info-titulo">
            Solicitações em Aberto
        </div>
        <div id="info-status">
            @Model.QuantidadeSCEmAberto
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="pedidos_em_liberacao">

        <div id="info-img">
            <img src="~/Content/Imagens/INFO-02.png" />
        </div>

        <div id="info-titulo">
            Pedidos em Aprovação
        </div>
        <div id="info-status">
            @Model.QuantidadePCEmAprovacao
        </div>

    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <!--<div id="chart_div" style="width: 100%; height: 500px;"></div>-->
            </div>
        </div>
    </div>
    


</div>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Ano', 'Vendas', 'Gastos'],
            ['2013', 1000, 400],
            ['2014', 1170, 460],
            ['2015', 660, 1120],
            ['2016', 1030, 540]
        ]);

        var options = {
            title: 'Performance',
            hAxis: { title: 'Year', titleTextStyle: { color: '#333' } },
            vAxis: { minValue: 0 }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
