﻿@model WebService.Models.UsuarioModel

@{
    ViewBag.Title = "Login - Sistema";
}

@Styles.Render("~/Content/HomeStyle.css")
<script src="~/Scripts/jquery-1.10.2.js"></script>


<div id="corpo">
    <!-- LOGO -->
    <div class="col-sm-offset-2 col-sm-10">
        <h1>Everest Engenharia de Infraestrutura LTDA</h1>
    </div>


    <div class="row">
        @using (Html.BeginForm("ValidaLogin", "Home", FormMethod.Post))
        {
            <text>
                <div class="form-group">
                    <label for="lgUsuario">Usuário: </label>
                    <input type="text" name="nome" />
                </div>
                <div class="form-group">
                    <label for="lgPassword">Senha: </label>
                    <input type="password" name="senha" />
                </div>
                <div class="form-group">
                    <label for="lgFilial">Filial: </label>
                    <input type="text" name="filial" />
                </div>
                <div class="form-group">
                    <label for="lgEmpresa">Empresa: </label>
                    <input type="text" name="empresa" />
                </div>
            </text>
            <input type="submit" value="Entrar" class="btn btn-success" />
        }


    </div>
</div>