﻿
.botao{
    width: 500px;
}

#corpo{
    font-size: 12px;
}

label{
    color:black;
    font-size: 1.3em;
}

table {
    font-size: 1.3em;
}

    table th {
        color: white;
        background-color: #0066cc;
    }

table td{
    color: black;
    background-color: aliceblue;
}

#tabela-valores{
    font-size: 1.2em;
}

    #tabela-valores td {
        background-color: lightgreen;
    }

#botoes {
    text-align: center;
}