﻿
#solicitacoes_em_aberto {
    background-color: white;
    height: auto;
}

#titulo-pagina{
    text-align:center;
}

#pedidos_em_liberacao {
    background-color: white;
    height: auto;
}

#info-img{
    text-align: center;
    margin-top:3em;
}

#info-titulo {
    text-align: center;
    font-size: 1.9em;
    margin-top: 0.9em;
    color: black;
}

#info-status {
    color: black;
    font-size: 5em;
    text-align: center;
    margin-bottom: 0.4em;
}

body{
    background-color: lightgrey;
    color: slategray;
}

linha {
    width: 100%;
}

linha-esq{
    width: 40%;
}

linha-dir{
    width: 60%;
}

#corpo{
    margin-top: 20px;
    background-color:white;
    margin-bottom: 20px;
}



