﻿
body{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 25%;
    background: #333;
    color: #fff;
    margin-top: 0;
    font-size: 1.2em;
    outline: 1px solid #2a2a2a;
}


.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar h2{
    text-align: center;
    margin: 0;
    padding: 10px;
    background: #2a2a2a;
}

.sidebar li{
    outline: 1px solid #2a2a2a;
    transition: all 0.3s;
}

.sidebar li:hover{
    background: #444;
    border-left: 5px solid #eee;
    text-decoration: none;
    font-size: 1.1em;
    list-style: none;
}

.sidebar a{
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.conteudo{
    position: relative;
    width: 75%;
    left: 25%;
    height: 100%;
    padding: 30px;
    transition: all 0.3s;
}

.abrir{
    transform: translateX(25%);
}


