﻿
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.botao {
    width: 500px;
}

#corpo {
    font-size: 12px;
    font-family: 'Libre Baskerville', serif;
}

label {
    color: black;
    font-size: 1.3em;
}

table {
    font-size: 1.3em;
}

    table th {
        color: white;
        background-color: #0066cc;
    }

    table td {
        color: black;
        background-color: aliceblue;
    }

#tabela-valores {
    font-size: 1.2em;
}

    #tabela-valores td {
        background-color: lightgreen;
    }

#titulo {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 15px 0 15px 0;
    margin: -30px -30px 15px -30px;
}

#navegacao-paginas {
    text-align: center;
}

#linha{
    width: 100%;
    
}

#esquerda {
    width: 45%;
    background-color: black;
    margin-right: 0;
    display: inline-block;
}

#direita {
    margin-left: 0;
    width: 45%;
    background-color: pink;
    display: inline-block;
}