﻿
@{
    ViewBag.Title = "Busca de Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Buscar Pedido</h1>

<div class="col-md-offset-4">
    @using (Html.BeginForm("DetalhaPedido", "BuscarPedido", FormMethod.Post))
    {
            <div class="form-group">
                <div class="col-md-2">
                    <label for="txtNumPc">Número do PC</label>
                </div>
                <input type="text" name="numPc" class="input-sm" placeholder="Digite o número do PC" />
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label for="txtNumFilial">Filial:</label>
                </div>
                <input type="text" class="input-sm" placeholder="Digite a Filial" />
            </div>

            <input type="text" hidden value="0" name="acao" />

            <input type="submit" class="btn btn-primary" value="Buscar" />
    }

</div>

<div id="lista">

</div>