﻿
@model WebService.Models.PedidosCompraModel

@{
    ViewBag.Title = "ListarPedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/ListarPedidos.css" type="text/css" rel="stylesheet" />

<div id="corpo">

    <div id="titulo">
     
        <h1>Pedidos de Compra</h1>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Número do PC</th>
                    <th>Fornecedor</th>
                    <th>Comprador</th>
                    <th>Emissão</th>
                    <th>Valor</th>
                    <th>Liberar</th>
                    <th>Rejeitar</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var pedido in Model._pedidos)
            {
                <text>
                    <tr>
                        <td>@pedido.CR_NUM</td>
                        <td>@pedido.A2_NOME</td>
                        <td>@pedido.COMPRADOR</td>
                        <td>@Model.AjusteData(pedido.CR_EMISSAO)</td>
                        <td>@Model.AjusteDinheiroBrasil(pedido.CR_TOTAL)</td>
                        <td><button class="btn btn-success">Liberar</button></td>
                        <td><button class="btn btn-danger">Rejeitar</button></td>
                    </tr>
                </text>
        }

            </tbody>

        </table>


        <nav aria-label="Navegação de página" id="navegacao-paginas">

            <div id="linha">
                
                <div id="esquerda">
                    <!-- ANTERIOR -->
                    @using (Html.BeginForm("ListarPedidos", "BuscarPedido", FormMethod.Post))
                    {
                            <text>
                                <input type="text" value="2" name="acao" hidden />
                                <button class="btn btn-default">Anterior</button>
                            </text>
                    }
                </div>
                <div id="direita">
                    <!-- PROXIMO -->
                    @using (Html.BeginForm("ListarPedidos", "BuscarPedido", FormMethod.Post))
                    {
                                <text>
                                    <input type="text" name="acao" value="1" hidden />
                                    <button class="btn btn-primary" type="submit">Próximo</button>
                                </text>
                    }
                </div>
           </div>
        </nav>


    </div>



</div>

